@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;

    --bg-color: #efefef;
    --bg-color-secondary: #e0e0e0;

    --text-color: #000000;
    --text-color-secondary: rgb(90, 90, 90);

    --btn-bg-color: #ffffff;
}

html,
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: var(--bg-color);
}

#app {
    height: 100%;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1f1f1f;
        --bg-color-secondary: #282828;

        --text-color: #c3c3c3;
        --text-color-secondary: #bfbfbf;

        --btn-bg-color: #353535;
    }
}
